# version: '3.2'
services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:latest
    container_name: changedetection
    hostname: changedetection
    volumes:
      - ./data/datastore:/datastore
    ports:
      - 5000:5000
    environment:
        - PLAYWRIGHT_DRIVER_URL=ws://sockpuppetbrowser:3000
      # - WEBDRIVER_URL=http://playwright-chrome:4444/wd/hub # * This is for selenium
      # - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000 # TODO: Commented out 8/19/2024; see comments below.
      # - BASE_URL=https://mysite.com # configure this for your own domain

    depends_on:
      sockpuppetbrowser:
        condition: service_started
    restart: unless-stopped

  sockpuppetbrowser:
    hostname: sockpuppetbrowser    
    image: dgtlmoon/sockpuppetbrowser:latest
    cap_add:
      - SYS_ADMIN # SYS_ADMIN might be too much, but it can be needed on your platform https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-gitlabci
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - MAX_CONCURRENT_CHROME_PROCESSES=2  # 2 webpages opened concurrently
      - FAST_PUPPETEER_CHROME_FETCHER=yes
    dns: # Comment out if you do not have a selective DNS you want to use. 
      - 10.7.1.228  # Replace with your Pi-hole IP address


  # TODO: Commented out 8/19/2024
  # TODO: Need to look into playwright issues as it causes instability within changedetection.
  # ! May be obsolete... Further research required
  # playwright-chrome:
  #   hostname: playwright-chrome    
  #   image: dgtlmoon/sockpuppetbrowser:latest
  #   cap_add:
  #     - SYS_ADMIN # SYS_ADMIN might be too much, but it can be needed on your platform https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-gitlabci
  #   restart: unless-stopped
  #   environment:
  #     - SCREEN_WIDTH=1920
  #     - SCREEN_HEIGHT=1024
  #     - SCREEN_DEPTH=16
  #     - MAX_CONCURRENT_CHROME_PROCESSES=2  # 2 webpages opened concurrently
  #     - FAST_PUPPETEER_CHROME_FETCHER=yes
  #   dns:
  #     - 10.7.1.228  # Replace with your Pi-hole IP address

  # ! May be depreciated. Go to url for more info
  # ! https://github.com/dgtlmoon/changedetection.io/blob/8a35d62e02db38ab6fee2ac06eb2171d7611551c/docker-compose.yml#L76-L89
  # browser-chrome:
  #   hostname: browser-chrome
  #   image: selenium/standalone-chrome:125.0
  #   shm_size: '2gb'
  #   # volumes:
  #   #     # Workaround to avoid the browser crashing inside a docker container
  #   #     # See https://github.com/SeleniumHQ/docker-selenium#quick-start
  #   #     - /dev/shm:/dev/shm
  #   restart: unless-stopped
   

  # ! May be depricated... Testing will need to be done
  # playwright-chrome:
  #   hostname: playwright-chrome
  #   image: browserless/chrome
  #   restart: unless-stopped
  #   environment:
  #     - SCREEN_WIDTH=1920
  #     - SCREEN_HEIGHT=1024
  #     - SCREEN_DEPTH=16
  #     - ENABLE_DEBUGGER=false
  #     - PREBOOT_CHROME=true
  #     - CONNECTION_TIMEOUT=300000
  #     - MAX_CONCURRENT_SESSIONS=2
  #     - CHROME_REFRESH_TIME=600000
  #     - DEFAULT_BLOCK_ADS=true
  #     - DEFAULT_STEALTH=true
  #     # Ignore HTTPS errors, like for self-signed certs
  #     - DEFAULT_IGNORE_HTTPS_ERRORS=true

