services:
  changedetection:
    hostname: changedetection
    container_name: changedetection
    image: ghcr.io/dgtlmoon/changedetection.io:latest
    volumes:
      - ./data/datastore:/datastore # For without container management
      # - changedetection_ds:/datastore # This is for portainer
    ports:
      - 5000:5000
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://sockpuppetbrowser:3000 # * this is for the puppeteer modification. Puppeteer is not officially supported by changedetection, but it works so smoothly.
    # - WEBDRIVER_URL=http://playwright-chrome:4444/wd/hub # * This is for selenium
    # - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000 # TODO: Commented out 8/19/2024; see comments below.
    # - BASE_URL=https://mysite.com # configure this for your own domain

    depends_on:
      sockpuppetbrowser:
        condition: service_started
    restart: unless-stopped

  sockpuppetbrowser:
    hostname: sockpuppetbrowser
    container_name: sockpuppetbrowser
    image: dgtlmoon/sockpuppetbrowser:latest
    cap_add:
      - SYS_ADMIN # SYS_ADMIN might be too much, but it can be needed on your platform https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-gitlabci
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - MAX_CONCURRENT_CHROME_PROCESSES=3 # 3 webpages opened concurrently
      - FAST_PUPPETEER_CHROME_FETCHER=yes
      - CONNECTION_TIMEOUT=600000
    dns:
      # Comment out if you do not have a selective DNS you want to use. 
      - 10.7.1.228 # Replace with your Pi-hole IP address
    healthcheck:
      test: "python3 /usr/src/app/docker-health-check.py --host http://localhost" # Check if Puppeteer is accessible on port 3000
      interval: 30s # Check every 30 seconds
      timeout: 5s # Fail if not responsive within 5 seconds
      retries: 3 # Retry up to 3 times before marking as unhealthy
      start_period: 10s # Give Puppeteer up to 40 seconds to start
  # Portainer volume variables
volumes:
  changedetection_ds:
