# version: '3.9'
name: changedetection-project
services:
  changedetection:
    hostname: changedetection
    container_name: changedetection
    image: ghcr.io/dgtlmoon/changedetection.io:latest
    volumes:
      - ./data/datastore:/datastore
      - /etc/localtime:/etc/localtime:ro  # Sync time with the host
      - /etc/timezone:/etc/timezone:ro  # Sync timezone with the host
    ports:
      - 5000:5000
    environment:
        - PLAYWRIGHT_DRIVER_URL=ws://sockpuppetbrowser:3000 # * this is for the puppeteer modification. Puppeteer is not officially supported by changedetection, but it works so smoothly.
      # - WEBDRIVER_URL=http://playwright-chrome:4444/wd/hub # * This is for selenium
      # - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000 # TODO: Commented out 8/19/2024; see comments below.
      # - BASE_URL=https://mysite.com # configure this for your own domain

    depends_on:
      sockpuppetbrowser:
        condition: service_started
    restart: unless-stopped

  sockpuppetbrowser:
    hostname: sockpuppetbrowser
    container_name: sockpuppetbrowser
    image: dgtlmoon/sockpuppetbrowser:latest
    cap_add:
      - SYS_ADMIN # SYS_ADMIN might be too much, but it can be needed on your platform https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-gitlabci
    restart: unless-stopped
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - MAX_CONCURRENT_CHROME_PROCESSES=3  # 3 webpages opened concurrently
      - FAST_PUPPETEER_CHROME_FETCHER=yes
    dns: # Comment out if you do not have a selective DNS you want to use. 
      - 10.7.1.228  # Replace with your Pi-hole IP address

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro  # Sync time with the host
      - /etc/timezone:/etc/timezone:ro  # Sync timezone with the host
      - /var/run/docker.sock:/var/run/docker.sock  # Watchtower needs access to the Docker socket
    command: --cleanup --interval 43200  # Cleanup old images and check for updates every 300 seconds

# Used for fetching pages via Playwright+Chrome where you need Javascript support.
# Note: Works well but is deprecated, does not fetch full page screenshots (doesnt work with Visual Selector)
#       Does not report status codes (200, 404, 403) and other issues
  browser-chrome:
    hostname: browser-chrome
    image: selenium/standalone-chrome:4
    shm_size: '2gb'

    environment:
        - VNC_NO_PASSWORD=1
        - SCREEN_WIDTH=1920
        - SCREEN_HEIGHT=1080
        - SCREEN_DEPTH=24
    volumes:
        # Workaround to avoid the browser crashing inside a docker container
        # See https://github.com/SeleniumHQ/docker-selenium#quick-start
        - /dev/shm:/dev/shm
    restart: unless-stopped